
.upper-wall {
    height: 60%;
    background-color: #975635;
}

.flowers {
    background-color: #77371D;
}


.divider-upper {
    height: 2%;
    background-color: #5D2F17;
}

.divider-lower {
    height: 2%;
    background-color: #341B10;
}

.lower-wall {
    height: 36%;
    background-color: #5D2F17;
}
   

.wall-lines {
    height: 100%;
    overflow: hidden;
       

}
.wall-line {
    height: 3px;
    width: 400px;
    display: inline-block;
    margin: -160px;
    background-color: #341B10;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.couch-top {
    height: 55%;
    width: 40%;
    background-color: tan;
    position: relative;
    bottom: 85%;
    margin: 0 auto;
    border: black 1px solid;
    border-radius: 30% 30% 0 0;
}

.couch-bottom {
    height: 30%;
    width: 40%;
    background-color: tan;
    position: relative;
    margin:  0 auto;
    bottom: 87%;
    border: black 1px solid;

}

.arms {
    text-align: center;
    position: relative;
    bottom: 137%;
}

.left-arm {
    display: inline-block;
    height: 50%;
    width: 5%;
    background-color: tan;
    position: relative;
    left: -19%;
    border: black 1px solid;
    border-radius: 20% 20% 0 0;
    
 
}

.right-arm {
    display: inline-block;
    height: 50%;
    width: 5%;
    background-color: tan;
    position: relative;
    right: -19%;
    border: black 1px solid;
    border-radius: 20% 20% 0 0;
    
}

.cushion-1 {
    height: 55px;
    width: 55px;
    background-color: darkgreen;
    border-radius: 30%;
    position: relative;
    bottom: -57%;
    bottom: -55%;

}

.cushion-button-1 {
    height: 6px;
    width: 6px;
    background-color: darkgreen;
    border-radius: 50%;
    border: black 3px solid;
    margin: 0 auto;
    position: relative;
    bottom: -35%;


}

.cushion-2 {
    height: 65px;
    width: 65px;
    background-color: darkgreen;
    border-radius: 30%;
    position: relative;
    display: inline-block;
    bottom: -57%;
    right: -88%;
    transform: skewX(-5deg);

}

.cushion-button-2 {
    height: 6px;
    width: 6px;
    background-color: darkgreen;
    border-radius: 50%;
    border: black 3px solid;
    margin: 0 auto;
    position: relative;
    bottom: -35%;


}
